body { margin: 0; font-family: 'Ubuntu'; font-size: 110%;}

#ileft { position: absolute; left: 0; top: 0; }
#iright { position: absolute; right: 0; top: 0; }
#header { position: absolute; right: 0; top: 0; background: #fff; font-family: 'Philosopher', arial, serif; position: absolute; left: 0; top: 0; padding: 30px 0 0 20px; margin-right: 580px; color: #0c20a5;  width: 100%;}
#htext { padding-left: 270px; padding-right: 353px;}
#htext h1 { margin: 0; font-size: 420%; text-shadow: 6px 6px 6px #aac; }
#htext h2 { font-size: 100%; font-style: italic; text-shadow: 4px 4px 4px #aaa;}

#container { margin-top: 270px ; width: 100%; background: #fff; }

#navigation { float: left; width: 100%;  color: #0c20a5}
#navigation ul { margin: 0; padding: 0; }
#navigation ul li { list-style-type: none; display: inline; font-weight: bold; }
#navigation li a { display: block; float: left; padding: 5px 10px; text-decoration: none; border-right: 1px solid #333; }
#navigation li a:hover { color: #ccc; -webkit-transition:All 0.50s ease; -moz-transition:All 1s ease; -o-transition:All 1s ease; }

#content-container { float: left; width: 100%; background: #fff; }

#content { clear: left; float: left; width: 60%; margin: 0 0 0 4%; display: inline; }

#aside { float: right; width: 338px; padding: 6px; margin: 0; display: inline; background-image: url('/images/sidebg.jpg'); background-repeat: repeat-y; border-bottom-left-radius: 1em; border-top-left-radius: 1em; -moz-border-radius-bottomleft: 1em; -moz-border-radius-topleft: 1em; -webkit-border-bottom-left-radius: 1em; -webkit-border-top-left-radius: 1em; border: 1px #0c20a5 solid;}
#aside h3 {padding-top: 2px; text-shadow: 1px 1px 1px #aaa; border-bottom: 1px solid #0c20a5; color: #0c20a5;}

#footer { clear: left; background: #676FFB; text-align: right; padding: 20px; height: 1%; }

