body { margin: 0; font-family: 'Ubuntu'; font-size: 110%;}
#container { margin: 0 auto; width: 100%; background: #fff; }
#header 
{
  background: #fff;
  padding: 20px;
  font-family: 'Philosopher', arial, serif;
}
#header img { position: absolute; right: 0; top: 0; }
#header h1 { margin: 0; font-size: 280%; text-shadow: 5px 5px 5px #aaa; }
#header h2 { font-size: 110%; font-style: italic; text-shadow: 4px 4px 4px #aaa; }
#navigation { float: left; width: 100%; background: navy; }
#navigation ul { margin: 0; padding: 0; }
#navigation ul li { list-style-type: none; display: inline; font-weight: bold; }
#navigation li a { display: block; float: left; padding: 5px 10px; color: #fff; text-decoration: none; border-right: 1px solid #fff; }
#navigation li a:hover 
{ 
  color: #333; 
  background: #fff;
  -webkit-transition:All 0.50s ease; 
  -moz-transition:All 1s ease; 
  -o-transition:All 1s ease;
}
#content-container { float: left; width: 100%; background: #fff; }
#content { clear: left; float: left; width: 60%; padding: 20px 0; margin: 0 0 0 4%; display: inline; }
#aside { float: right; width: 26%; padding: 20px 0; margin: 0 3% 0 0; display: inline; }
#aside h3 { margin: 0; }
#footer { clear: left; background: navy; text-align: right; padding: 20px; height: 1%; }

