<h3>Presentazione</h3>

<p>Vuoi conoscere il programma di Mirco? Clicca sul video qui sotto e
se hai voglia lasciaci un suggerimento.</p>

<h3>Iniziative</h3>

<p>Le prossime iniziative a cui potrai partecipare e fare direttamente
domande:</p>

<h3>Categorie</h3>

<ul>
  <li>Prova 1</li>
  <li>Prova 2</li>
  <li>Prova 3</li>
  <li>Prova 4</li>
  <li>Prova 5</li>
</ul>

<h3>Twitter</h3>

<p>Aggiornamenti costanti sulle idee e progetti del candidato</p>

<h3>Facebook</h3>

<p>Tieniti in contatto con Facebook</p>