<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Sito web di Mirco Amodio, candidato sindaco al comune di Cavallino per la lista Liberta e Partecipazione">
    <meta name="keywords" content="mirco amodio, cavallino, liberta e partecipazione, elezioni amministrative 2011, italia dei valori, sinistra ecologia e liberta, vendola, di pietro, gorgoni">

    <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css" media="screen" type="text/css" />
    <link href="/images/logo_lista.jpg" rel="icon" type="image/png" />
    <title>{{ page.title }}</title>
  </head>
<body>

<div id="header">
  <h1>Mirco Amodio</h1>
  <h2>Candidato al Consiglio Comunale di Cavallino (e Castromediano) per la lista &quot;La citt&agrave; che cresce&quot;</h2>
</div>
<div id="headimg">
  <img alt="Simbolo lista" src="images/logo_lista.jpg" />
  <img alt="Foto Mirco Amodio" src="images/head.jpg" />
</div>

<div id="container">
  <div id="navigation">
    <ul> 
      <li><a href="/">Home</a></li>
      <li><a href="#">Biografia</a></li>
      <li><a href="http://it-it.facebook.com/people/Mirco-Amodio/1371303788">Contatti</a></li>
    </ul>
  </div>
  
  <div id="content-container">
    <div id="content">
      {{ content }}
    </div>

    <div id="aside">
      {% include sidebar.html%}
    </div>

    <div id="footer">
      Mirco Amodio, candidato al consiglio comunale di Cavallino e
      Castromediano per la lista "La Città che Cresce"
    </div>
  </div>
</div>

</body>
</html>
